<aside class="sidebar">
  <nav class="sidebar-nav">
    <%= link_to dashboard_path, class: current_page?(dashboard_path) ? "active" : "" do %>
      <i class="fa-solid fa-house"></i>
      Dashboard
    <% end %>

    <%= link_to "#", class: "" do %>
      <i class="fa-solid fa-newspaper"></i>
      Post of the Day
    <% end %>

    <%= link_to "#", class: "" do %>
      <i class="fa-solid fa-pen-to-square"></i>
      Create New Post
    <% end %>

    <%= link_to "#", class: "" do %>
      <i class="fa-solid fa-chart-line"></i>
      Stats
    <% end %>

    <%= link_to "#", class: "" do %>
      <i class="fa-solid fa-gear"></i>
      Preferences
    <% end %>
  </nav>

  <div class="social-icons">
    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    <a href="#"><i class="fa-brands fa-twitter"></i></a>
  </div>
</aside>
